// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container {
  .action {
    position: relative;
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-83%);
    }
  }
}