// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container {

  .add-new {
    margin: 19px 19px 19px 0;
  }
  .action {
    position: relative;
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-83%);
    }
  }
}